@model StudentTeacherViewModel

<h3>Our Teachers</h3>
<table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Class</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var teacher in Model.Teachers)
        {
            <tr>
                <td>@teacher.Name</td>
                <td>@teacher.Class</td>
            </tr>
        }
    </tbody>
</table>